<% if is_superadmin? %>
  <%= link_to "New Instructor", new_instructor_path, class: "btn btn-primary" %>
<% end %>
  <div class="ui three column doubling stackable grid container">
    <% @instructors.each_slice(10) do |instructors| %>
        <div class="column">
        <h3 class="ui top attached header">
          Instructors  
        </h3>
        <div class="ui segment attached">
          <div class="ui middle aligned animated divided list">
            <% instructors.each do |i| %>
            <div class="item">
              <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/daniel.jpg">
              <div class="content">
                 <div class="header">  <%= link_to i.fullname, instructor_path(i) %></div>
              </div>
            </div>  
             <% end %>    
          </div>
        </div>
        </div>
    <% end %>
  </div>
<br />
<br />