<div class="ui raised very padded text container segment">
    <h2 class="ui header">Thanks for signing up!</h2>
    You haven't been assigned to an attendee yet. When the admin assigns you to either an attendee or instructor role, you will be able to administrate your information. Until then, sit tight.
</div>