  <% if current_user.superadmin_role? %>
    <%= link_to "New Attendee", new_attendee_path, class: "btn btn-primary" %>
  <% end %>

  <div class="ui three column doubling stackable grid container">
    <% authorized_attendees.each_slice(10) do |attendees| %>
        <div class="column">
        <h3 class="ui top attached header">
          <%= attendees.first.initial %> — <%= attendees.last.initial %> 
        </h3>
        <div class="ui segment attached">
          <div class="ui middle aligned animated divided list">
            <% attendees.each do |a| %>
            <div class="item">
              <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/daniel.jpg">
              <div class="content">
                 <div class="header"> <%= link_to a.fullname, attendee_path(a) %></div>
              </div>
            </div>  
             <% end %>    
          </div>
        </div>
        </div>
    <% end %>
  </div>
